.list__image__container {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 100px;
  margin-bottom: 50px;
}

.img {
  transition: all 0.4s ease-out;
}
.img:hover {
  cursor: move;
}

.item__wrap {
  transition: all 0.4s ease-out;
}

.item__wrap:hover {
  cursor: move;
}
