.list__image__container {
  /* cursor: move; */
  margin-bottom: 50px;
}

.list__data__container {
  /* cursor: move; */
}

.img__wrap {
  transition: all 0.2s ease-out;
}
.img__wrap:hover {
  cursor: move;
}

.item__wrap {
  transition: all 0.4s ease-out;
}

.item__wrap:hover {
  cursor: move;
}
